<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>No more left</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/bundle.js"></script>
</head>
<body>
<section th:insert="fragments/header" id="header"></section>
<div style="text-align: center">
    <h2>Sorry</h2>
    <p>No more left :/</p>
    <a href="/top">Top 10</a>
</div>
<section th:insert="fragments/footer" id="footer"></section>
</body>
</html>