<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Facemash</title>
    <link type="text/css" rel="stylesheet" href="scss/app.css">
</head>
<body>
    <section th:insert="fragments/header" id="header"></section>
    <section id="login-section">
        <div>
            <form class="auth-form" method="post">
                <div class="inputbox">
                    <label for="login-username"><img src="img/icons/facemash-user.png" alt="username"></label>
                    <input type="text" name="login-username" id="login-username" placeholder="username">
                </div>
                <div class="inputbox">
                    <label for="login-password"><img src="img/icons/facemash-password.png" alt="password"></label>
                    <input type="password" name="login-password" id="login-password" placeholder="password">
                </div>
                <div>
                    <a>Register</a>
                    <button class="btn-old-school" type="submit" name="login-submit">Login</button>
                </div>
            </form>
        </div>
    </section>
    <section th:insert="fragments/footer" id="footer"></section>
</body>
</html>