<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Facemash</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/bundle.js"></script>
</head>
<body>
    <section th:insert="fragments/header" id="header"></section>
    <section id="login-section">
        <div class="auth-container">
            <form th:action="@{/}" class="auth-form" method="post">
                <div th:if="${param.error}">Incorrect username or password</div>
                <div>
                    <label for="login-username"><img src="img/icons/facemash-user.png" alt="username"></label>
                    <input type="text" name="username" id="login-username" placeholder="username" required>
                </div>
                <div>
                    <label for="login-password"><img src="img/icons/facemash-password.png" alt="password"></label>
                    <input type="password" name="password" id="login-password" placeholder="password" required>
                </div>
                <div>
                    <a id="open-modal" onclick="LogicConnector.initModal(getElementById('register-section'))">Register</a>
                    <button class="btn-old-school" type="submit" name="login-submit">Login</button>
                </div>
            </form>
        </div>
    </section>
    <section class="modal-section" hidden th:insert="fragments/register-modal" id="register-section"></section>
    <section th:insert="fragments/footer" id="footer"></section>
    <!-- empty element which gets shown once a modal is activated. It generates a transparent background effect -->
    <div class="transparent-background" hidden></div>
</body>
</html>