<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facemash</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/bundle.js"></script>
</head>
<body>
<section th:insert="fragments/header" id="header"></section>
<section id="app-section">
    <div id="static">
        <p>Were we let in for our looks? No. Will we be judged by them? Yes.</p>
        <p>Who's Hotter? Click to choose!</p>
    </div>
    <div id="person-container">
        <div class="person">
            <form method="post">
                <input type="hidden" value="1" th:value="${girls[0].getId()}">
                <div id="align-or-box">
                    <button type="submit">
                        <img src="/img/people/41.jpg" th:src="/img/people/${girls[0].getId()}.jpg" alt="Susan"
                             th:alt="${girls[0].getNickname()}">
                    </button>
                    <span>OR</span>
                </div>
                <p th:text="${girls[0].getNickname()}">Susan</p>
            </form>
        </div>
        <div class="person">
            <form method="post">
                <input type="hidden" value="2" th:value="${girls[1].getId()}">
                <button type="submit">
                    <img src="/img/people/31.jpg" th:src="/img/people/${girls[1].getId()}.jpg" alt="Alexa"
                         th:alt="${girls[1].getNickname()}">
                </button>
                <p th:text="${girls[1].getNickname()}">Alexa</p>
            </form>
        </div>
    </div>
</section>
<section id="pre-footer">
    <a href="/top">Top 10</a>
</section>
</body>
</html>