<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facemash</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/bundle.js"></script>
</head>
<body>
<section th:insert="fragments/header" id="header"></section>
<section id="app-section">
    <div id="static">
        <p>Were we let in for our looks? No. Will we be judged by them? Yes.</p>
        <p>Who's Hotter? Click to choose!</p>
    </div>
    <div id="person-container">
        <div class="person">
            <form method="post">
                <input type="hidden" value="1">
                <div id="align-or-box">
                    <button type="submit">
                        <img src="/img/people/41.jpg" alt="Susan">
                    </button>
                    <span>OR</span>
                </div>
                <p>Susan</p>
            </form>
        </div>
        <div class="person">
            <form method="post">
                <input type="hidden" value="2">
                <button type="submit">
                    <img src="/img/people/31.jpg" alt="Alexa">
                </button>
                <p>Alexa</p>
            </form>
        </div>
    </div>
</section>
<section id="pre-footer">
    <a href="/top">Top 10</a>
</section>
</body>
</html>