<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top rated girls</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/bundle.js"></script>
</head>
<body>
<section th:insert="fragments/header" id="header"></section>
<h2>Top 10</h2>
<section id="top">
    <div class="top">
        <div class="person">
            <span>Alexa</span>
            <img src="img/people/31.jpg" alt="Alexa">
            <span>Votes: <span>2314</span></span>
        </div>
    </div>
    <div class="top">
        <div class="person">
            <span>Susan</span>
            <img src="img/people/41.jpg" alt="Susan">
            <span>Votes: <span>1739</span></span>
        </div>
        <div class="person">
            <span>Anna</span>
            <img src="img/people/36.jpg" alt="Anna">
            <span>Votes: <span>1650</span></span>
        </div>
    </div>
    <div class="top">
        <div class="person">
            <span>Christie</span>
            <img src="img/people/45.jpg" alt="Christie">
            <span>Votes: <span>1320</span></span>
        </div>
        <div class="person">
            <span>Maria</span>
            <img src="img/people/14.jpg" alt="Maria">
            <span>Votes: <span>1312</span></span>
        </div>
        <div class="person">
            <span>Melinda</span>
            <img src="img/people/17.jpg" alt="Melinda">
            <span>Votes: <span>1229</span></span>
        </div>
        <div class="person">
            <span>Lisa</span>
            <img src="img/people/18.jpg" alt="Lisa">
            <span>Votes: <span>1211</span></span>
        </div>
        <div class="person">
            <span>Grace</span>
            <img src="img/people/9.jpg" alt="Grace">
            <span>Votes: <span>1134</span></span>
        </div>
        <div class="person">
            <span>Helen</span>
            <img src="img/people/27.jpg" alt="Helen">
            <span>Votes: <span>987</span></span>
        </div>
        <div class="person">
            <span>Olivia</span>
            <img src="img/people/24.jpg" alt="Olivia">
            <span>Votes: <span>640</span></span>
        </div>
    </div>
</section>
</body>
</html>