<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top rated girls</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/bundle.js"></script>
</head>
<body>
<section th:insert="fragments/header" id="header"></section>
<h2>Top 10</h2>
<section id="top">
    <div class="top">
        <div class="person">
            <span th:text="${top.get(0).getNickname()}">Alexa</span>
            <img src="img/people/31.jpg" th:src="@{|img/people/${top.get(0).getId()}.jpg|}" alt="Alexa"
                 th:alt="${top.get(0).getNickname()}">
            <span>Votes: <span th:text="${top.get(0).getVoteCount()}">2314</span></span>
        </div>
    </div>
    <div class="top">
        <div class="person">
            <span th:text="${top.get(1).getNickname()}">Susan</span>
            <img src="img/people/41.jpg" th:src="@{|img/people/${top.get(1).getId()}.jpg|}" alt="Susan"
                 th:alt="${top.get(2).getNickname()}">
            <span>Votes: <span th:text="${top.get(1).getVoteCount()}">1739</span></span>
        </div>
        <div class="person">
            <span th:text="${top.get(2).getNickname()}">Anna</span>
            <img src="img/people/36.jpg" th:src="@{|img/people/${top.get(2).getId()}.jpg|}" alt="Anna"
                 th:alt="${top.get(2).getNickname()}">
            <span>Votes: <span th:text="${top.get(2).getVoteCount()}">1650</span></span>
        </div>
    </div>
    <div class="top">
        <div th:each="index : ${#numbers.sequence(3, top.size()-1)}" class="person">
            <span th:text="${top.get(index).getNickname()}">Christie</span>
            <img src="img/people/45.jpg" th:src="@{|img/people/${top.get(index).getId()}.jpg|}"
                 th:alt="${top.get(index).getNickname()}" alt="Christie">
            <span>Votes: <span th:text="${top.get(index).getVoteCount()}">1320</span></span>
        </div>
    </div>
</section>
</body>
</html>