$mainBackground: #8b0003;
$contrastBackground: white;
$textContrastColor1: white;
$mainBackgroundGradient: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba($mainBackground, 1) 7%);
$footerLinksColor: #ffdb99;
